@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
body{
  background-color: #f8f9fd;
  margin-top: 0;
}
body #main{
  font-family: 'Baloo Paaji 2', cursive;
  padding-top: 10px;
}

.nav_container{
  background-color: #fff;
  box-shadow: 0 0 0 0;
  box-shadow: 0 4px 6px -6px black;
  position: relative;
  min-height: 70px;
}
.header_pp{
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-left: 10px;
  object-fit: cover;
  border-radius: 60px;
  transition: all 0.2s ease;
}
.header_pp:hover{
  filter: brightness(50%);
}
.header_profile_container{
  margin-top: 5px;
  display: flex;
  text-align: right;
  transition: filter 0.3s;
}
.user_name_li{
  padding: 5px;
}

.header_profile_container:hover{
  cursor: pointer;
  text-decoration: none;
}
nav ul li a{
  font-size: 16px;
  margin-top: 3px;
  transition: color 0.25s;
  color: #111;
  font-family: 'Poppins', sans-serif;
  font-weight: 550;

}
nav ul li a:hover{
  background-color: transparent;
  color: #0F4A52;
}
.nav-wrapper{
  margin-left: 20px;
  margin-right: 20px;
}
#dropdown1{
  width: 350px;
}
#dropdown1 .user_name{
  text-align: center;
  color: #111;!important
}
#dropdown1 a{
  color: #0F4A52;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
}
#dropdown1 li a img{
  margin-right: 15px;
}

.logout_btn{
  margin-top: -28px;
  background-color: transparent;
  margin-right: -15px;
  font-size: 13px;
}
.logout_btn:hover{
  background-color: transparent;
}
nav #sg_logo{
  height: 45px;
  margin-top: 12px;
}

.student_list_input{
  margin-right: 5px;
  margin-left: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.createTaskContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#slide-out li a{
  display: flex;
  align-items: center;
  color: lightgrey;
}
#slide-out li a:hover{
  color: #fff;
}
#slide-out li a:hover img.sidenavIcons{
  filter: invert(100%) sepia(2%) saturate(314%) hue-rotate(333deg) brightness(113%) contrast(100%);
}
#slide-out li a img.sidenavIcons{
  margin-right: 15px;
  filter: invert(100%) sepia(99%) saturate(342%) hue-rotate(195deg) brightness(112%) contrast(87%);
}
.active_sidenav{
  color: #ffffff;
}
.nav_container{
  background-color: #fff;
  box-shadow: 0 0 0 0;
  box-shadow: 0 4px 6px -6px black;
  position: relative;
  min-height: 70px;
}
#sg_logo{
}
.addTaskBtn{
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
}
.addTaskBtn:hover{
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sidenav{
  background-color: #0F4A52;
}
.sidenav .collection{
  background-color: #0F4A52;
  border: none;
  padding: 0;
  margin-top: 0px;
  border-radius: 0px;

}
.sidenav .collection .collection-item{
  background-color: #0F4A52;
  border: none;
  min-height: 55px;
  border-radius: 0px;
}
.sidenav .collection .collection-item .title{
  color: #fff;
  transition: all 0.3s ease;
}
.sidenav .collection  a:hover .title{
  color: #0F4A52;
}
.sidenav .collection  a:hover{
  border-radius: 0px;
}

#slide-out a{
  color: #fff;
}
#loading {
  display: block;
  position: fixed;
  top: 70px;
  left: 210px;
  right: 300px;
  height: 100%;
  z-index: 9999;
  background: #fafafa url("../images/backgrounds/loader.gif") no-repeat center center;
  text-align: center;
  color: #999;
}
#main, nav, footer {
  padding-left: 220px;
  padding-right: 300px;
}
.main-section{
  padding-left: 210px;
  padding-right: 300px;

}
@media only screen and (max-width : 992px) {
  nav, #main, .main-section, footer {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-wrapper{
    justify-content: space-between;
  }
}
.info_container{
  display: flex;
}
.user-view{
  display: flex;
  flex-direction: column;
  align-items:center;

}
body .profile_picture{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  transition: filter 0.3s;
  cursor: pointer;

}
.userContainer{
  margin-left: 10px;
}
.card{
  padding: 10px;
  border-radius: 4px;
}
.collection a{
  background-color: #2C364C;
}
.collection a span,p{
  color:#111;
}
.infos{
  margin-left: 20px;
  width: 65%;
}
body .name_text{
  font-size: 40px;
}
::-webkit-input-placeholder {
    color: #858c87;
    opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
    color: #858c87;
    opacity: 1 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #858c87;
    opacity: 1 !important;
}

:-ms-input-placeholder {
   color: #858c87 ;
}
.tabs .tab a {
  color: rgba(38, 166, 154, 0.7);
  /*Custom Text Color*/
}
label{
  color: black;
}
.btn-medium{
  margin-top: 18px;
}
.date_hour{
  color: grey;
}
.tabs .tab a:hover {
  color:#0F4A52;
  /*Custom Color On Hover*/
}
.tabs .tab a:focus.active {
  color:#0F4A52;
  /*Custom Text Color While Active*/
  background-color: transparent;
  /*Custom Background Color While Active*/
}
.tabs .tab a.active {
  color:#0F4A52;
}
.tabs .indicator {
  background-color:#0F4A52;
  /*Custom Color Of Indicator*/
}


 /* label color */
   .input-field label {
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #0F4A52;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
