// ROBOT FONT FAMILY
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* GLOBAL STYLING*/
:root{
    --main-light-color: #1c85c8;
    --main-dark-color: #283c8c;
    --lighter-color: #f3f6ff;
    --black-color: #000000;
    --white-color: #ffffff;
    --red-color: #bd172e;
    --box-shadow-color: rgba(0, 0, 0, 0.16);
}
*, *:after, *:before{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
	padding: 0;
}
ul{
	list-style: none;
	padding: 0;
    margin: 0;
}	
a{
	text-decoration: none;
	margin: 0 ;
    padding: 0 ;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
}
.show-menu{
    display: block !important;
    ul.navbar-nav{
        li.nav-item{
            margin: 11px 45px 0px 0px !important;
        }
    }
    form{
        margin: 11px 45px 0 0px !important;
        button{
            margin: 0 !important;
            margin-top: 11px !important;
        }
    }
}
.custom-container{
    margin: 0 20px;
    padding: 0;
}
.custom-btn{
    margin: 1px 1px 28px 45px;
    padding: 9px 41px;
    border-radius: 5px;
    box-shadow: 0 3px 15px 0 rgba(28, 133, 200, 0.11);
    background-color: var(--main-light-color);
    color: var(--white-color);
    border: none;
}
nav{
    padding-bottom: 0;
    .container-fluid{
        .navbar-toggler{
            border: none;
            padding: 0;
            &:focus{
                outline: none;
                box-shadow: none;
            }
        }
        .navbar-collapse{
            ul.navbar-nav{
                justify-content: flex-end;
                width: 100%;
                li{
                    font-size: 16px;
                    color: var(--black-color);
                    letter-spacing: 0.16px;
                    opacity: 0.6;
                    line-height: 1.19;
                    .nav-link{
                        padding-bottom: 0;
                        padding-left: 0;
                        padding-right: 0;
                        color: var(--black-color);
                    }
                }
                li.nav-item.program, li.nav-item.school{
                    margin: 0 45px 0 0;
                }
                li.nav-item.active{
                    color: (--main-light-color);
                    opacity: 1;
                    a{
                        color: (--main-light-color);
                    }
                }
            }
            form{
                .login{
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.22;
                    letter-spacing: 0.36px;
                    background-color: var(--main-light-color);
                    color: white;
                }
            }
            .user-profile{
                display: flex;
                margin-top: 15px;
                .user-img{
                    display: none;
                    margin: auto 0;
                    img{
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                    }
                }
                .user-name{
                    display: none;
                    margin: 3.4px 8px 2.6px 10px;
                    opacity: 0.6;
                    letter-spacing: 0.16px;
                }
                .user-actions{
                    margin: auto 0;
                    position: relative;
                    cursor: pointer;
                    .arrow-down{
                        display: none;
                        img{
                            width: 15px;
                            height: 9px;
                            transition: all .6s ease;
                        }
                        img.arrow-down.rotate{
                            transform: rotate(180deg);
                        } 
                    }
                    .user-menu{
                        display: block;
                        box-shadow: none;
                        position: relative;
                        right: 0;
                        padding: 0;
                        margin: 0;
                        border-radius: 5px;
                        background-color: var(--white-color);
                        z-index: 16;
                        ul{
                            li{
                                margin:0 0 16px 0;
                                a{
                                    // color: var(--main-dark-color);
                                    color: rgba(0,0,0,.5)
                                }
                                button{
                                    background: transparent;
                                    border: none;
                                    padding: 0;
                                    a{
                                        color: var(--red-color);
                                    }
                                }
                            }
                        }
                    }
                    .user-menu.appear{
                        display: block;
                    }
                }
            }
            .notification{
                position: absolute;
                left: 82%;
                top: 8%;
                width: fit-content;
                margin: 0;
                cursor: pointer;
                .notification-icon{
                    width: fit-content;
                    transition: all .6s ease;
                    img{
                        width: 23px;
                        height: 23px;
                    }
                }
                .notification-icon.rotate{
                    transform: rotate(25deg);
                }
                
                .notification-body{
                    box-shadow: 0 2px 12px 0 rgba(26, 36, 78, 0.12);
                    position: absolute;
                    right: 0;
                    width: 265px;
                    border-radius: 8px;
                    background-color: #fff;
                    margin: 17px 0;
                    z-index: 16;
                    display: none;
                    ul{
                        border-radius: 8px;
                        li{
                            padding: 16px;
                            a{
                                font-size: 14px;
                                line-height: 1.5;
                                color: #000;
                            }
                        }
                        li:nth-child(odd){
                            background-color: #f9f9f9;
                        }
                    }
                }
                .notification-body.appear{
                    display: block;
                    left: unset;
                }

            }
            #noti_number{
                bottom: 10px;
                position: relative;
                color: var(--white-color);
                padding: 3px 10px;
                border-radius: 50%;
                background-color: var(--red-color);
                text-align: center;
                left: -5px;
            }
        }
    }
}

@media only screen and (min-width: 692px) {
    .custom-container{
        margin: 0 50px;
    }
}
@media only screen and (min-width: 992px) {
    .custom-container{
        margin: 0 100px;
    }
    nav .container-fluid .navbar-collapse{
        ul.navbar-nav li .nav-link{
            padding: 16px 0;
        }
        .user-profile{
            margin-top: 0;
            .user-img, .user-name{
                display: block;
            }
            .user-actions{
                .arrow-down{
                    display: block;
                }
                .user-menu{
                    position: absolute;
                    margin: 17px 0;
                    padding:0 16px;
                    right: 100%;
                    box-shadow: 0 2px 12px 0 rgba(26, 36, 78, 0.12);
                    display: none;
                    ul li a{
                        color: var(--main-dark-color);
                    }
                }
            } 
        }
        .notification{
            margin: auto 0 auto 20px;
            position: relative;
            left: 0;
            top: 0;
            .notification-body.appear{
                left: unset;
            }
        }
    }
}