@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* GLOBAL STYLING*/
:root {
  --main-light-color: #1c85c8;
  --main-dark-color: #283c8c;
  --lighter-color: #f3f6ff;
  --black-color: #000000;
  --white-color: #ffffff;
  --red-color: #bd172e;
  --box-shadow-color: rgba(0, 0, 0, 0.16);
}

*, *:after, *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

.show-menu {
  display: block !important;
}

.show-menu ul.navbar-nav li.nav-item {
  margin: 11px 45px 0px 0px !important;
}

.show-menu form {
  margin: 11px 45px 0 0px !important;
}

.show-menu form button {
  margin: 0 !important;
  margin-top: 11px !important;
}

.custom-container {
  margin: 0 20px;
  padding: 0;
}

.custom-btn {
  margin: 1px 1px 28px 45px;
  padding: 9px 41px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 15px 0 rgba(28, 133, 200, 0.11);
          box-shadow: 0 3px 15px 0 rgba(28, 133, 200, 0.11);
  background-color: var(--main-light-color);
  color: var(--white-color);
  border: none;
}

nav {
  padding-bottom: 0;
}

nav .container-fluid .navbar-toggler {
  border: none;
  padding: 0;
}

nav .container-fluid .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav .container-fluid .navbar-collapse ul.navbar-nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

nav .container-fluid .navbar-collapse ul.navbar-nav li {
  font-size: 16px;
  color: var(--black-color);
  letter-spacing: 0.16px;
  opacity: 0.6;
  line-height: 1.19;
}

nav .container-fluid .navbar-collapse ul.navbar-nav li .nav-link {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  color: var(--black-color);
}

nav .container-fluid .navbar-collapse ul.navbar-nav li.nav-item.program, nav .container-fluid .navbar-collapse ul.navbar-nav li.nav-item.school {
  margin: 0 45px 0 0;
}

nav .container-fluid .navbar-collapse ul.navbar-nav li.nav-item.active {
  color: --main-light-color;
  opacity: 1;
}

nav .container-fluid .navbar-collapse ul.navbar-nav li.nav-item.active a {
  color: --main-light-color;
}

nav .container-fluid .navbar-collapse form .login {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.36px;
  background-color: var(--main-light-color);
  color: white;
}

nav .container-fluid .navbar-collapse .user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

nav .container-fluid .navbar-collapse .user-profile .user-img {
  display: none;
  margin: auto 0;
}

nav .container-fluid .navbar-collapse .user-profile .user-img img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

nav .container-fluid .navbar-collapse .user-profile .user-name {
  display: none;
  margin: 3.4px 8px 2.6px 10px;
  opacity: 0.6;
  letter-spacing: 0.16px;
}

nav .container-fluid .navbar-collapse .user-profile .user-actions {
  margin: auto 0;
  position: relative;
  cursor: pointer;
}

nav .container-fluid .navbar-collapse .user-profile .user-actions .arrow-down {
  display: none;
}

nav .container-fluid .navbar-collapse .user-profile .user-actions .arrow-down img {
  width: 15px;
  height: 9px;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

nav .container-fluid .navbar-collapse .user-profile .user-actions .arrow-down img.arrow-down.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav .container-fluid .navbar-collapse .user-profile .user-actions .user-menu {
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  right: 0;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  background-color: var(--white-color);
  z-index: 16;
}

nav .container-fluid .navbar-collapse .user-profile .user-actions .user-menu ul li {
  margin: 0 0 16px 0;
}

nav .container-fluid .navbar-collapse .user-profile .user-actions .user-menu ul li a {
  color: rgba(0, 0, 0, 0.5);
}

nav .container-fluid .navbar-collapse .user-profile .user-actions .user-menu ul li button {
  background: transparent;
  border: none;
  padding: 0;
}

nav .container-fluid .navbar-collapse .user-profile .user-actions .user-menu ul li button a {
  color: var(--red-color);
}

nav .container-fluid .navbar-collapse .user-profile .user-actions .user-menu.appear {
  display: block;
}

nav .container-fluid .navbar-collapse .notification {
  position: absolute;
  left: 82%;
  top: 8%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  cursor: pointer;
}

nav .container-fluid .navbar-collapse .notification .notification-icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

nav .container-fluid .navbar-collapse .notification .notification-icon img {
  width: 23px;
  height: 23px;
}

nav .container-fluid .navbar-collapse .notification .notification-icon.rotate {
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

nav .container-fluid .navbar-collapse .notification .notification-body {
  -webkit-box-shadow: 0 2px 12px 0 rgba(26, 36, 78, 0.12);
          box-shadow: 0 2px 12px 0 rgba(26, 36, 78, 0.12);
  position: absolute;
  right: 0;
  width: 265px;
  border-radius: 8px;
  background-color: #fff;
  margin: 17px 0;
  z-index: 16;
  display: none;
}

nav .container-fluid .navbar-collapse .notification .notification-body ul {
  border-radius: 8px;
}

nav .container-fluid .navbar-collapse .notification .notification-body ul li {
  padding: 16px;
}

nav .container-fluid .navbar-collapse .notification .notification-body ul li a {
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

nav .container-fluid .navbar-collapse .notification .notification-body ul li:nth-child(odd) {
  background-color: #f9f9f9;
}

nav .container-fluid .navbar-collapse .notification .notification-body.appear {
  display: block;
  left: unset;
}

nav .container-fluid .navbar-collapse #noti_number {
  bottom: 10px;
  position: relative;
  color: var(--white-color);
  padding: 3px 10px;
  border-radius: 50%;
  background-color: var(--red-color);
  text-align: center;
  left: -5px;
}

@media only screen and (min-width: 692px) {
  .custom-container {
    margin: 0 50px;
  }
}

@media only screen and (min-width: 992px) {
  .custom-container {
    margin: 0 100px;
  }
  nav .container-fluid .navbar-collapse ul.navbar-nav li .nav-link {
    padding: 16px 0;
  }
  nav .container-fluid .navbar-collapse .user-profile {
    margin-top: 0;
  }
  nav .container-fluid .navbar-collapse .user-profile .user-img, nav .container-fluid .navbar-collapse .user-profile .user-name {
    display: block;
  }
  nav .container-fluid .navbar-collapse .user-profile .user-actions .arrow-down {
    display: block;
  }
  nav .container-fluid .navbar-collapse .user-profile .user-actions .user-menu {
    position: absolute;
    margin: 17px 0;
    padding: 0 16px;
    right: 100%;
    -webkit-box-shadow: 0 2px 12px 0 rgba(26, 36, 78, 0.12);
            box-shadow: 0 2px 12px 0 rgba(26, 36, 78, 0.12);
    display: none;
  }
  nav .container-fluid .navbar-collapse .user-profile .user-actions .user-menu ul li a {
    color: var(--main-dark-color);
  }
  nav .container-fluid .navbar-collapse .notification {
    margin: auto 0 auto 20px;
    position: relative;
    left: 0;
    top: 0;
  }
  nav .container-fluid .navbar-collapse .notification .notification-body.appear {
    left: unset;
  }
}
/*# sourceMappingURL=header.css.map */