// ROBOT FONT FAMILY
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* GLOBAL STYLING*/
:root{
    --main-light-color: #1c85c8;
    --main-dark-color: #283c8c;
    --lighter-color: #f3f6ff;
    --black-color: #000000;
    --white-color: #ffffff;
    --red-color: #bd172e;
    --box-shadow-color: rgba(0, 0, 0, 0.16);
}
*, *:after, *:before{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
	padding: 0;
}
ul{
	list-style: none;
	padding: 0;
    margin: 0;
}	
a{
	text-decoration: none;
	margin: 0 ;
    padding: 0 ;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
}
.custom-container{
    margin: 0 20px;
    padding: 0;
}
.custom-btn{
    margin: 1px 1px 28px 45px;
    padding: 9px 41px;
    border-radius: 5px;
    box-shadow: 0 3px 15px 0 rgba(28, 133, 200, 0.11);
    background-color: var(--main-light-color);
    color: var(--white-color);
    border: none;
}
/* GLOBAL STYLING*/

section#student-account{
    margin-top: 64px;
    .custom-container{
        display: flex;
        justify-content: space-between;
        .side-menu{
            display: none;
        }
        .student-wrapper{
            width: 100%;
            margin-top: 56px;
            .buttonWrapper{
                button{
                    margin: 0 40px 1.5px 0;
                    opacity: 0.4;
                    font-size: 20px;
                }
                button.active{
                    opacity:1;
                    color: var(--main-light-color)
                }
            }
            .contentWrapper{
                margin-top: 48px;
                div.update{
                    button.update-btn{
                        padding: 9px 41px;
                        float: right;
                        margin: 0;
                        background-color: var(--main-light-color);
                        color: white;
                    }
                }
                #profile-info{
                    form{
                        .title{
                            margin: 0 0 24px 0.8px;
                            letter-spacing: normal;
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 1.21;
                        }
                        .body{
                            .form-group{
                                margin-bottom: 24px;
                                label{
                                    opacity: 0.8;
                                    font-size: 16px;
                                    font-weight: normal;
                                    line-height: 1.19;
                                    letter-spacing: 0.16px;
                                }
                                input, select{
                                    margin: 8px 0.5px 0 0.2px;
                                    padding: 10.5px 0 10.5px 16px;
                                    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
                                    border: none;
                                }
                                select{
                                    color: rgba(0, 0 , 0, .29);
                                }
                                select option {
                                    color:var(--black-color);
                                }
                                input::placeholder{
                                    opacity: 0.4;
                                    font-size: 16px;
                                    letter-spacing: 0.16px;
                                }
                                input[type=radio]{
                                    margin: 4px 4px 0 0;
                                    border: 1px solid var(--main-light-color);
                                    padding: 0;
                                    box-shadow: unset;
                                }
                                input:checked[type=radio]{
                                    background-color: var(--main-light-color);
                                }
                            }
                        }
                        .personal__information, .academic__information, .language__skills{
                            margin-top: 24px;
                        }
                        .personal__information{
                            .body{
                                .custom-col:nth-child(1){
                                    .form-group.gender{
                                        margin: 8px 0.5px 24px 0.2px;
                                        display: flex;
                                        flex-wrap: wrap;
                                        label{
                                            flex: 0 0 100%;
                                            margin-bottom: 8px;
                                        }
                                        .form-check{
                                            padding: 0;
                                            padding-right: 24px;
                                            label{
                                                opacity: .4;
                                            }
                                        }
                                    }
                                    .form-group#dateBirth{
                                        .date-birth{
                                            display: flex;
                                            justify-content: space-between;
                                            select{
                                                flex: 0 0 30%;
                                            }
                                        }

                                    }
                                }
                                .custom-col:nth-child(2){
                                    .form-group.address{
                                        display: flex;
                                        justify-content: space-between;
                                        .form-group{
                                            flex: 0 0 30%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                #documents-info{
                    form{
                        .title{
                            opacity: 0.6;
                            font-size: 16px;
                            font-weight: normal;
                            color: var(--black-color);
                            margin: 0 0 8px 0;
                        }
                        .body{
                            height: 54px;
                            display: flex;
                            justify-content: space-between;
                            margin: 0 0 24px;
                            padding: 13px 24px 13.2px 16px;
                            border-radius: 10px;
                            background-color: #f9fbff;
                            div.file{
                                display: flex;
                                flex: 0 0 86%;
                                img{
                                    width: 27px;
                                    height: 27px;
                                    margin-right: 27px;
                                }
                                a{
                                    opacity: 0.6;
                                    font-size: 16px;
                                    letter-spacing: 0.16px;
                                    color: var(--black-color);
                                    line-height: 2;
                                }
                            }
                            .date{
                                display: none;
                                opacity: 0.6;
                                font-size: 16px;
                                letter-spacing: 0.16px;
                                line-height: 2;
                            }
                            .more-action{
                                border-left: 6px dotted rgba(0, 0, 0,0.3);
                                cursor: pointer;
                                position: relative;
                                .actions{
                                    position: absolute;
                                    display: none;
                                    background-color: var(--white-color);
                                    top: 100%;
                                    right: 0%;
                                    border-radius: 5px;
                                    padding: 10px 16px;
                                    z-index: 13;
                                    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
                                    &.block{
                                        display: block;
                                    }
                                    button{
                                        background-color: transparent;
                                        border: none;
                                        padding:0;
                                        letter-spacing: 0.16px;
                                    }
                                    button.reupload{
                                        color: var(--main-dark-color);
                                        input{
                                            display: none;
                                        }
                                    }
                                    button.delete{
                                        color: var(--red-color);
                                        margin: 16px 0 0 0;
                                    }
                                }
                            }
                        }
                        .body.not-uploaded{
                            margin: 0 0 24px;
                            padding: 17.5px 24px 17.5px 16px;
                            border-radius: 10px;
                            background-color: #fffee9;
                            .file{
                                opacity: 0.6;
                                font-size: 16px;
                                letter-spacing: 0.16px;
                            }
                            .upload{
                                line-height: 1.2;
                                label{
                                    font-size: 16px;
                                    font-weight: 500;
                                    letter-spacing: 0.32px;
                                    color: var(--main-dark-color);
                                }
                                input{
                                    display: none;
                                }
                            }
                        }
                    }
                    .task-list{
                        display: none;
                    }
                }
            }
        }
        
    }
}

// MODAL STYLING 
.delete-warning, .done-modal{
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); 
    display: none;
    .custom-container{
        width: fit-content;
        left: 0;
        padding: 30px 30px;
        border-radius: 15px;
        background-color: #fff;
        text-align: center;
        position: relative;
        margin: auto;
        top: 25%;
        .title-warning{
            font-size: 20px;
            font-weight: 500;
            line-height: 1;
            color: var(--red-color);
            margin: 20px 0;
        }
        .desc-warning{
            margin: 16px 0 20px;
            opacity: 0.7;
            font-size: 16px;
            line-height: 1.5;
        }
        .btns-holder{
            display: flex;
            justify-content: space-evenly;
            button{
                border: none;
                font-weight: 500;
                letter-spacing: 0.32px;
                background-color: transparent;
                label{
                    color: white;
                    background-color: var(--main-light-color);
                    padding: 7px 15px;
                    border-radius: 5px;
                }
            }
            button.keep, button.upload{
                padding: 11.5px 25.7px 11.5px 25.3px;
                border-radius: 5px;
                box-shadow: 0 1px 10px 0 rgba(66, 193, 175, 0.2);
                background-color: var(--main-light-color);
                color: var(--white-color);
                margin: 0 48px 0 44px;
            }
            button.delete{
                border: none;
                background-color: transparent;
                text-align: left;
                color: var(--red-color);
                margin: 11px 48px 11px 44px;
                padding: 0;
            }
            button.upload{
                line-height: 1;
            }
            button.back{
                color: var(--main-light-color);
            }
            label{
                font-size: 16px;
            }
            input[type="file"]{
                height: 0;
                width: 0;
            }
        }
    }
    &.appear{
        display: block;
    }
}

@media only screen and (min-width: 692px) {
    .custom-container{
        margin: 0 50px;
    }
    section#student-account{
        .custom-container{
            .student-wrapper{
                .contentWrapper{
                    #profile-info{
                        form{
                            .personal__information{
                                .body{
                                    .custom-col:nth-child(1){
                                        .form-group#dateBirth{
                                            .date-birth{
                                                justify-content: normal;
                                                select{
                                                    width: 120px;
                                                    flex: 0 0 auto;
                                                    margin-right: 24px;
                                                }
                                            }
    
                                        }
                                    }
                                    .custom-col:nth-child(2){
                                        .form-group.address{
                                            justify-content: normal;
                                            .form-group{
                                                width: 120px;
                                                flex: 0 0 auto;
                                                margin-right: 24px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    #documents-info{
                        form{
                            .body{
                                div.file{
                                    flex: 0 0 60%;
                                }
                                .date{
                                    display: block;
                                    flex: 0 0 39%;
                                }
                            }
                        }
                    }
                }
            }
        }  
    }
    
    .delete-warning, .done-modal{
        .custom-container{
            width: 580px;
        }
    }
}

@media only screen and (min-width: 992px) {
    .custom-container{
        margin: 0 100px;
    }
    section#student-account{
        margin-top: 0;
        .custom-container{
            .side-menu{
                margin-top: -101px;
                padding-top: 0;    
                position: fixed;
                width: 19.7%;
                z-index: 10;
                display: block;
                margin-left: -100px;
                background-image: linear-gradient(197deg, var(--main-light-color) 5%, var(--main-dark-color));
                height: 768px;
                padding:0 0 0 30px;
                .logo-holder{
                    margin-top: 45px;
                }
                .user{
                    margin: 0 4px 16px 0;
                    margin-top: 118px;
                    opacity: 0.8;
                    font-size: 14px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: var(--white-color);
                }
                ul{
                    li{
                        margin: 16px 0 15px 0;
                        font-size: 18px;
                        font-weight: 500;
                        color: var(--white-color);
                        span{
                            width: 59px;
                            height: 15px;
                            margin: 0 14px;
                            font-size: 14px;
                            font-weight: normal;
                            letter-spacing: 0.14px;
                            color: var(--white-color);
                            background-color: var(--main-dark-color);
                            border-radius: 3px;
                            display: inline-block;
                            text-align: center;
                            line-height: .9;
                        }
                        a{
                            color: var(--white-color);
                            display: inline-block;
                            width: 100%;
                        }
                    }
                    li.active{
                        background-color: #3aa7ec;
                        margin-left: -30px;
                        position: relative;
                        padding: 9px 0 9px 30px;
                    }
                    li.active::before{
                        content: '';
                        width: 13px;
                        border-radius: 0 5px 0 0;
                        background-color: #283a82;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
            .student-wrapper{
                margin-left: 19%;
                .contentWrapper{
                    margin-top: 43px;
                    #profile-info{
                        form{
                            .title{
                                color: var(--main-light-color)
                            }
                            .body{
                                display: flex;
                                .custom-col{
                                    flex: 0 0 40%;
                                    margin-right: 9%;
                                }
                            }
                            .personal__information{
                                .body{
                                    .custom-col:nth-child(1){
                                        .form-group#dateBirth{
                                            .date-birth{
                                                justify-content: space-between;
                                                select{
                                                    width: auto;
                                                    margin:0;
                                                    flex: 0 0 30%;
                                                }
                                            }
    
                                        }
                                    }
                                    .custom-col:nth-child(2){
                                        .form-group.address{
                                            justify-content: space-between;
                                            .form-group{
                                                width: auto;
                                                margin:0;
                                                flex: 0 0 30%;
                                            }
                                        }
                                    }
                                }
                            
                            }
                            .update{
                                margin-right: 11%;
                            }
                        }
                    }
                    #documents-info{
                        .documents-container{
                            display: flex;
                            justify-content: space-between;
                            margin-right: -33px;
                            form{
                                flex: 0 0 64%;
                            }
                            .task-list{
                                position: sticky;
                                top: 0;
                                display: block;
                                flex: 0 0 33%;
                                border-radius: 10px;
                                box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
                                background-color:var(--white-color);
                                margin-top: -60px;
                                height: fit-content;
                                .head{
                                    background-color: var(--main-light-color);
                                    color: var(--white-color);
                                    padding: 32px 16px 24px 16px;
                                    border-radius: 10px 10px 0 0;
                                    .title{
                                        color: var(--white-color);
                                        margin: 0 16px 16px 0;
                                    }
                                    p{
                                        margin: 8px 0;
                                        opacity: 0.9;
                                        letter-spacing: 0.16px;
                                        color: var(--white-color);
                                        line-height: normal;
                                    }
                                }
                                .body{
                                    height: 416px;
                                    overflow-y: scroll;
                                    margin: 0;
                                    div.box:first-child{
                                        margin: 24px 0 0 0 ;
                                    }
                                    div.box{
                                        display: flex;
                                        flex-wrap: wrap;
                                        justify-content: space-between;
                                        border-bottom: 1px solid #ececec;
                                        padding: 0 16px 0 16px;
                                        margin: 15.5px 0;
                                        .title{
                                            margin: 0;
                                            font-size: 18px;
                                            font-stretch: normal;
                                            font-style: normal;
                                            line-height: normal;
                                            color: var(--main-light-color);
                                        }
                                        .check{
                                            flex: 0 0 30%;
                                            display: flex;
                                            justify-content: flex-end;

                                            p{
                                                margin: 0 8px 0 0;
                                                opacity: 0.4;
                                                line-height: normal;
                                                letter-spacing: 0.16px;
                                            }
                                        }
                                        .desc{
                                            width: auto;
                                            margin: 0;
                                            height: auto;
                                            margin: 8px 0 15.5px 0;
                                            opacity: 0.6;
                                            font-size: 16px;
                                            font-weight: normal;
                                            font-stretch: normal;
                                            font-style: normal;
                                            line-height: normal;
                                            letter-spacing: 0.16px;
                                            flex: 0 0 100%;
                                        }
                                    }
                                    div.box:last-child{
                                        border:none;
                                        .desc{
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
            
        }
    }
}
