header{
  font-family: 'Baloo Paaji 2', cursive;
}
.header_pp{
  width: 55px;
  margin-left: 10px;
}
.header_profile_container{
  height: 75px;
  background-color: #fff;
  padding: 10px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  transition: filter 0.3s;
}
.header_profile_container:hover{
  cursor: pointer;
  text-decoration: none;
  filter: drop-shadow(0px 0px 5px grey);
}

header #sg_logo{
  width: 170px;
  transition: filter 0.5s;
}
header #sg_logo:hover{
  filter: drop-shadow(0px 0px 30px grey);
}
.nav_container{
  background-color: transparent;
  box-shadow: 0 0 0 0;
  margin-top: 10px;
}
header nav .nav-wrapper{
  height: 80px;
  line-height: 80px;
}
