@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* GLOBAL STYLING*/
:root {
  --main-light-color: #1c85c8;
  --main-dark-color: #283c8c;
  --lighter-color: #f3f6ff;
  --black-color: #000000;
  --white-color: #ffffff;
}

*, *:after, *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

.show-menu {
  display: block !important;
}

.show-menu ul.navbar-nav li.nav-item {
  margin: 11px 45px 0px 0px !important;
}

.show-menu form {
  margin: 11px 45px 0 0px !important;
}

.show-menu form button {
  margin: 0 !important;
  margin-top: 11px !important;
}

.custom-container {
  margin: 0 20px;
  padding: 0;
}

.custom-btn {
  margin: 1px 1px 28px 45px;
  padding: 9px 41px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 15px 0 rgba(28, 133, 200, 0.11);
          box-shadow: 0 3px 15px 0 rgba(28, 133, 200, 0.11);
  background-color: var(--main-light-color);
  color: var(--white-color);
}

/* GLOBAL STYLING*/
nav {
  padding-bottom: 0;
}

nav .container-fluid .navbar-toggler {
  border: none;
}

nav .container-fluid .navbar-toggler:focus {
  outline: none;
}

nav .container-fluid .navbar-collapse ul.navbar-nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

nav .container-fluid .navbar-collapse ul.navbar-nav li.nav-item.program {
  margin: 11px 45px 39px 51px;
}

nav .container-fluid .navbar-collapse ul.navbar-nav li.nav-item.school {
  margin: 11px 0px 39px 0;
  color: var(--main-light-color);
  opacity: 1;
}

nav .container-fluid .navbar-collapse ul.navbar-nav li.nav-item.school a {
  color: var(--main-light-color);
}

nav .container-fluid .navbar-collapse ul.navbar-nav li {
  font-size: 16px;
  color: var(--black-color);
  letter-spacing: 0.16px;
  opacity: 0.6;
  line-height: 1.19;
}

nav .container-fluid .navbar-collapse ul.navbar-nav li .nav-link {
  padding-left: 0;
  padding-right: 0;
  color: var(--black-color);
}

nav .container-fluid .navbar-collapse form .login {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.36px;
}

section#about .custom-container .head {
  margin: 40px 0px 48px 0;
  padding: 16px 16px 16px 16px;
  border-radius: 5px;
  background-color: var(--lighter-color);
}

section#about .custom-container .head .layer {
  background-image: unset;
}

section#about .custom-container .head .layer .box .title {
  margin: 0 0 12px 0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

section#about .custom-container .head .layer .box .school {
  margin: 12px 0 26px 0;
  font-size: 18px;
  letter-spacing: 0.2px;
}

section#about .custom-container .head .layer .box .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#about .custom-container .head .layer .box .details div {
  margin: 0 48px 17px 0px;
}

section#about .custom-container .head .layer .box .details div span {
  opacity: 0.6;
  font-size: 18px;
  letter-spacing: 0.18px;
}

section#about .custom-container .head .layer .box .details div img {
  width: 15px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}

section#about .custom-container .head .layer .box .details div.fee {
  margin: 0 48px 26px 0px;
}

section#about .custom-container .head .layer .box .details .apply-btn {
  padding: 0;
  margin: 0;
}

section#about .custom-container .head .layer .box .details .apply-btn button {
  margin: 0;
  border: none;
}

section#about .custom-container .head .layer .box .details .apply-btn button a {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.36px;
  color: var(--white-color);
}

section#about .custom-container .head .layer .box:nth-child(2) {
  display: none;
}

section#about .custom-container .head .layer .box:nth-child(2) .layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

section#about .custom-container .head .layer .box:nth-child(2) .layer .school-img {
  width: 90px;
  margin: auto;
}

section#about .custom-container .head .layer .box:nth-child(2) .layer .school-img img {
  width: 100%;
}

section#about .custom-container .wrapper .buttonWrapper {
  display: none;
}

section#about .custom-container .wrapper .contentWrapper #school-info .title {
  margin: 48px 0px 24px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
}

section#about .custom-container .wrapper .contentWrapper #school-info .desc {
  width: auto;
  height: auto;
  margin: 0;
}

section#about .custom-container .wrapper .contentWrapper #school-info .desc p {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.16px;
  text-align: justify;
}

section#about .custom-container .wrapper .contentWrapper #school-info .ranking .title {
  margin: 50px 40px 0 1px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: 0.24px;
  color: var(--main-dark-color);
}

section#about .custom-container .wrapper .contentWrapper #school-info .ranking .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#about .custom-container .wrapper .contentWrapper #school-info .ranking .wrapper .organization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

section#about .custom-container .wrapper .contentWrapper #school-info .ranking .wrapper .organization .img-organization {
  width: 100px;
  height: 40px;
  margin: 0 15.2px 0 0;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0;
}

section#about .custom-container .wrapper .contentWrapper #school-info .ranking .wrapper .organization .img-organization img {
  height: 100%;
  width: 100%;
}

section#about .custom-container .wrapper .contentWrapper #school-info .ranking .wrapper .organization .rank-num {
  margin: 6px auto 5px 15.2px;
  opacity: 0.4;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: 0.24px;
}

section#about .custom-container .wrapper .contentWrapper #school-info .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 62px;
}

section#about .custom-container .wrapper .contentWrapper #school-info .media .accreditation, section#about .custom-container .wrapper .contentWrapper #school-info .media .social-media {
  margin-top: 48px;
  margin-right: 214px;
}

section#about .custom-container .wrapper .contentWrapper #school-info .media .accreditation .title, section#about .custom-container .wrapper .contentWrapper #school-info .media .social-media .title {
  margin-top: 0;
}

section#about .custom-container .wrapper .contentWrapper #school-info .media .accreditation .imgs, section#about .custom-container .wrapper .contentWrapper #school-info .media .social-media .imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#about .custom-container .wrapper .contentWrapper #school-info .media .accreditation .imgs .img-holder, section#about .custom-container .wrapper .contentWrapper #school-info .media .social-media .imgs .img-holder {
  margin-right: 48px;
}

section#about .custom-container .wrapper .contentWrapper #school-info .alumni {
  margin-top: 50px;
}

section#about .custom-container .wrapper .contentWrapper #school-info .alumni .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 16px 0 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: 0.24px;
  color: var(--main-dark-color);
}

section#about .custom-container .wrapper .contentWrapper #school-info .alumni .title p {
  margin: 6px 4px 1px 16px;
  opacity: 0.4;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.18px;
  color: var(--black-color);
}

section#about .custom-container .wrapper .contentWrapper #school-info .alumni .title p img {
  width: 25px;
  height: 17px;
}

section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .live .title, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .work .title {
  margin: 30px 0 20px;
  opacity: 0.6;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.18px;
  color: var(--black-color);
}

section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .live .custom-progress, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .work .custom-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .live .custom-progress .box, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .work .custom-progress .box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .live .custom-progress .box .percent, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .work .custom-progress .box .percent {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .live .custom-progress .box .percent svg, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .work .custom-progress .box .percent svg {
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 1000;
}

section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .live .custom-progress .box .percent svg circle, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .work .custom-progress .box .percent svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: var(--lighter-color);
  stroke-width: 10;
  stroke-linecap: round;
}

section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .live .custom-progress .box .percent svg circle:nth-child(2), section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .work .custom-progress .box .percent svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke: var(--main-dark-color);
}

section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .live .custom-progress .box .percent .number, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .work .custom-progress .box .percent .number {
  position: absolute;
  top: 0;
  width: 100%;
  right: 0%;
  text-align: center;
  bottom: 0%;
  left: 0%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .live .custom-progress .box .percent .number h2, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .work .custom-progress .box .percent .number h2 {
  opacity: 0.7;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .live .custom-progress .box .city, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .work .custom-progress .box .city {
  margin: 8px 0;
  opacity: 0.7;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.16px;
  text-align: center;
}

section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .doing .title, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .studies .title {
  margin: 40px 17px 20px 1px;
  opacity: 0.6;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.18px;
  color: var(--black-color);
}

section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .doing .custom-progress .box .title, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .studies .custom-progress .box .title {
  margin: 20px 0 10px 1px;
  font-size: 16px;
  line-height: 1.19;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.16px;
  text-align: left;
  color: var(--black-color);
  opacity: .8;
}

section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .doing .custom-progress .box .progress, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .studies .custom-progress .box .progress {
  background-color: var(--lighter-color);
  border-radius: 15px;
  width: 335px;
  height: 20px;
}

section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .doing .custom-progress .box .progress .progress-bar, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .studies .custom-progress .box .progress .progress-bar {
  border-radius: 15px;
  background-color: var(--main-dark-color);
}

section#city__photos .city-custom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#city__photos .city-custom-container .full-screen {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
}

section#city__photos .city-custom-container .full-screen img {
  width: 100%;
  height: 451px;
}

section#city__photos .city-custom-container .imgs li img {
  cursor: pointer;
}

section#city__expense .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#city__expense .wrapper table thead tr {
  border: none;
}

section#city__expense .wrapper table thead tr th {
  margin: 30px 110px 20px 1px;
  opacity: 0.8;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.18px;
  border: none;
}

section#city__expense .wrapper table tbody tr th, section#city__expense .wrapper table tbody tr td {
  border: none;
  margin: 20px 249px 15px 1px;
  opacity: 0.6;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.19;
  letter-spacing: 0.16px;
}

section#city__expense .wrapper table tbody tr td {
  margin: 20px 0 15px;
}

section#city__expense .wrapper .city-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section#city__expense .wrapper .city-img img {
  width: 276px;
}

section#city__expense .wrapper table, section#city__expense .wrapper .city-img {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

section#program__description .school-custom-container .wrapper .title {
  margin: 50px 50px 20px 0;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.24px;
  color: var(--main-dark-color);
}

section#program__description .school-custom-container .wrapper .body {
  margin: 20px 27px 20px 0;
  width: auto;
  opacity: 0.6;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.18px;
}

section#program__description .school-custom-container .wrapper ul.list li {
  font-size: 16px;
  letter-spacing: 0.16px;
  margin: 0 8px 15px 0;
  color: rgba(0, 0, 0, 0.6);
}

section#program__description .school-custom-container .wrapper ul.list li::before {
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: var(--main-light-color);
  opacity: 1;
  border-radius: 50%;
  margin: 0 10px 0px 0;
}

section#school__photos .school-custom-container .title {
  margin: 50px 31px 20px 0;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.24px;
  color: var(--main-dark-color);
}

section#school__photos .school-custom-container #primary-slider .splide__arrows {
  display: none;
}

section#school__photos .school-custom-container #primary-slider .splide__slide {
  width: 335px;
  height: 251px;
}

section#school__photos .school-custom-container #secondary-slider #secondary-slider-track {
  margin-top: 10px;
}

section#school__photos .school-custom-container #secondary-slider #secondary-slider-track #secondary-slider-list div.splide__slide {
  width: 159px !important;
  height: 117px !important;
  border-radius: 5px;
}

section#school__photos .school-custom-container #secondary-slider #secondary-slider-track #secondary-slider-list div.splide__slide.is-active {
  border: none;
}

section#school__photos .school-custom-container #secondary-slider .splide__arrows button {
  height: 100%;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background-color: var(--white-color);
  width: 37px;
  height: 100%;
}

section#school__photos .school-custom-container #secondary-slider .splide__arrows button.splide__arrow--prev {
  left: 0%;
}

section#school__photos .school-custom-container #secondary-slider .splide__arrows button.splide__arrow--next {
  right: 0%;
}

section#city__photos #city-secondary-slider-list {
  margin: auto !important;
}

section#about section#school__program .school-custom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#about section#school__program .school-custom-container .contentWrapper .program-content .program {
  margin-top: 21px;
}

section#about section#school__program .school-custom-container .contentWrapper .program-content .program .row .title {
  margin: 0 44px 10px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
  text-align: left;
  color: var(--black-color);
}

section#about section#school__program .school-custom-container .contentWrapper .program-content .program .row .deadline {
  margin: 0px 22px 20px 0;
  opacity: 0.6;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.16px;
}

section#about section#school__program .school-custom-container .contentWrapper .program-content .program .row .fee {
  margin: 0 0px 0.5px 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 67%;
          flex: 0 0 67%;
  color: var(--main-dark-color);
}

section#about section#school__program .school-custom-container .contentWrapper .program-content .program .row .fee span {
  opacity: .4;
  text-transform: capitalize;
  margin-right: 8px;
  color: var(--black-color);
}

section#about section#school__program .school-custom-container .contentWrapper .program-content .program .row .more-btn {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.32px;
  text-align: left;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

section#about section#school__program .school-custom-container .contentWrapper .program-content .program .row .more-btn button {
  line-height: normal;
  padding: 0;
}

section#about section#school__program .school-custom-container .contentWrapper .program-content .program .row .more-btn button a {
  color: var(--main-light-color);
}

section#about section#school__program .school-custom-container .map {
  margin-top: 49px;
}

section#about section#school__program .school-custom-container .map iframe {
  width: 335px;
  height: 331px;
}

section#review {
  margin-top: 50px;
}

section#review .school-custom-container .title {
  margin: 0 513px 20px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.24px;
  text-align: center;
  color: var(--main-dark-color);
}

section#review .school-custom-container #review-secondary-slider .splide__track #review-secondary-slider-list {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#review .school-custom-container #review-secondary-slider .splide__track #review-secondary-slider-list div.splide__slide {
  width: 64px !important;
  height: 64px !important;
  border: none;
  border-radius: 50%;
  opacity: .5;
  position: relative;
  z-index: -1;
}

section#review .school-custom-container #review-secondary-slider .splide__track #review-secondary-slider-list div.splide__slide:nth-child(1) {
  left: 10%;
}

section#review .school-custom-container #review-secondary-slider .splide__track #review-secondary-slider-list div.splide__slide:nth-child(3) {
  right: 10%;
}

section#review .school-custom-container #review-secondary-slider .splide__track #review-secondary-slider-list div.splide__slide.is-active {
  width: 73px !important;
  height: 73px !important;
  opacity: 1;
  z-index: 12;
}

section#review .school-custom-container #review-primary-slider .splide__arrows {
  display: none;
}

section#review .school-custom-container #review-primary-slider .splide__arrows button {
  background-color: unset;
}

section#review .school-custom-container #review-primary-slider .splide__track #review-primary-slider-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#review .school-custom-container #review-primary-slider .splide__track #review-primary-slider-list div.splide__slide {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  margin: 30px 0 20px;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.18px;
}

section#review .school-custom-container #review-primary-slider .splide__track #review-primary-slider-list div.splide__slide.is-active {
  opacity: .6;
}

section#review .school-custom-container #review-primary-slider .splide__track #review-primary-slider-list div.splide__slide p {
  text-align: center;
}

section#review .school-custom-container #review-primary-slider .splide__track #review-primary-slider-list div.splide__slide h5.name {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.39;
  letter-spacing: 0.18px;
  color: var(--black-color);
}

section#review .school-custom-container #review-primary-slider .splide__track #review-primary-slider-list div.splide__slide p.position {
  text-align: center;
}

section#videos {
  margin-top: 50px;
}

section#videos .school-custom-container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#videos .school-custom-container .wrapper .video {
  width: 335px;
  height: 211px;
  margin-bottom: 16px;
}

section#videos .school-custom-container .wrapper .video video {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

section#about .custom-container .wrapper .contentWrapper #school-info section#articles .school-custom-container .title {
  margin: 50px 70px 20px 0px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.24px;
  color: var(--main-dark-color);
}

section#about .custom-container .wrapper .contentWrapper #school-info section#articles .school-custom-container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#about .custom-container .wrapper .contentWrapper #school-info section#articles .school-custom-container .wrapper .article {
  margin-right: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

section#about .custom-container .wrapper .contentWrapper #school-info section#articles .school-custom-container .wrapper .article .article-img {
  width: 369px;
  height: 259px;
  width: 335px;
  height: 259px;
  margin: 0 0 15px 0px;
  border-radius: 5px;
}

section#about .custom-container .wrapper .contentWrapper #school-info section#articles .school-custom-container .wrapper .article .article-img img {
  width: 100%;
  height: 100%;
}

section#about .custom-container .wrapper .contentWrapper #school-info section#articles .school-custom-container .wrapper .article .details .date {
  margin: 15px 89px 10px 0px;
  opacity: 0.4;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.16px;
}

section#about .custom-container .wrapper .contentWrapper #school-info section#articles .school-custom-container .wrapper .article .details .article-desc {
  opacity: 0.8;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.18px;
}

section#about .custom-container .wrapper .contentWrapper #school-info section#articles .school-custom-container .wrapper .article .details .read-more {
  margin: 15px 0px 24px 0px;
  letter-spacing: 0.32px;
}

section#about .custom-container .wrapper .contentWrapper #school-info section#articles .school-custom-container .wrapper .article .details .read-more button {
  font-size: 16px;
  color: #1c85c8;
  border: none;
  background-color: unset;
  font-weight: 500;
  padding: 0;
}

@media only screen and (min-width: 692px) {
  .custom-container {
    margin: 0 50px;
  }
  section#about .custom-container .head .layer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: unset;
  }
  section#about .custom-container .head .layer .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
  section#about .custom-container .head .layer .box .details .apply-btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  section#about .custom-container .head .layer .box:nth-child(2) {
    display: block;
    background-color: unset;
    width: 30%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 7%;
            flex: 0 0 7%;
    margin: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  section#about .custom-container .head .layer .box:nth-child(2) .layer {
    background-image: unset;
  }
  section#about .custom-container .head .layer .box:nth-child(2) .layer img {
    margin: 0;
  }
  section#about .custom-container .wrapper .buttonWrapper {
    display: none;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .live, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .doing, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .studies, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .work {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .live .custom-progress .box, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .doing .custom-progress .box, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .studies .custom-progress .box, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .work .custom-progress .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .doing .custom-progress .box .progress, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .studies .custom-progress .box .progress {
    width: 658px;
  }
  section#school__photos .school-custom-container #primary-slider .splide__slide {
    height: 251px !important;
  }
  section#school__photos .school-custom-container #secondary-slider #secondary-slider-track #secondary-slider-list div.splide__slide {
    width: 212px !important;
    height: 154px !important;
  }
  section#about section#school__program .school-custom-container .map iframe {
    width: 668px;
    height: 331px;
  }
  section#review .school-custom-container #review-secondary-slider .splide__track #review-secondary-slider-list div.splide__slide:nth-child(1) {
    left: 4%;
  }
  section#review .school-custom-container #review-secondary-slider .splide__track #review-secondary-slider-list div.splide__slide:nth-child(3) {
    right: 4%;
  }
  section#videos .school-custom-container .wrapper {
    display: -ms-grid;
    display: grid;
    grid-gap: 16px;
  }
  section#videos .school-custom-container .wrapper .video {
    width: 325px;
    height: 242px;
    margin-bottom: 0;
  }
  section#videos .school-custom-container .wrapper .video:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 668px;
    height: 415px;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info section#articles .school-custom-container .wrapper .article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47%;
            flex: 0 0 47%;
    margin-right: 0;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info section#articles .school-custom-container .wrapper .article .article-img {
    width: 318px;
    height: 259px;
  }
}

@media only screen and (min-width: 992px) {
  .custom-container {
    margin: 0 100px;
  }
  section#about .custom-container .head {
    margin: 27px 2px 0 1px;
    padding: 40px 0 0 50px;
    overflow: hidden;
  }
  section#about .custom-container .head .layer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section#about .custom-container .head .layer .box .title {
    margin: 0 52px 12px 0;
    font-size: 24px;
    letter-spacing: 0.24px;
  }
  section#about .custom-container .head .layer .box .school {
    margin: 12px 83px 26px 0;
    font-size: 20px;
  }
  section#about .custom-container .head .layer .box .details .apply-btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  section#about .custom-container .head .layer .box:nth-child(2) {
    display: block;
    background-color: var(--white-color);
    position: relative;
    z-index: 1;
  }
  section#about .custom-container .head .layer .box:nth-child(2) .layer {
    width: 123px;
    height: 123px;
    background: url(../../images/franceflag.png);
    background-repeat: no-repeat;
  }
  section#about .custom-container .head .layer img.img-bg {
    position: relative;
    right: 45px;
    z-index: 0;
    top: 50px;
    opacity: .5;
  }
  section#about .custom-container .wrapper .buttonWrapper {
    display: block;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info .title {
    margin: 30px 98px 20px 1px;
    font-size: 24px;
    line-height: 1.21;
    letter-spacing: 0.24px;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info .desc {
    width: 968px;
    height: 97px;
    margin: 20px 26px 30px 1px;
    line-height: 1.39;
    letter-spacing: 0.18px;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info .ranking .title {
    margin-bottom: 25px;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info .ranking .wrapper .organization {
    margin-top: 0;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info .ranking .wrapper .organization .img-organization {
    width: 123px;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info .media {
    margin-top: 50px;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info .media .accreditation {
    margin-right: 0 !important;
    -webkit-box-flex: 2;
        -ms-flex: 2 0 auto;
            flex: 2 0 auto;
    margin-top: 0;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info .media .social-media {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-top: 0;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .live, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .work, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .doing, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .studies {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .live .custom-progress, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .work .custom-progress {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .live .custom-progress .box, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .work .custom-progress .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .doing .custom-progress .box .progress, section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .studies .custom-progress .box .progress {
    width: 423px;
    height: 20px;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .live {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .doing {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info .alumni .wrapper .studies {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  section#program__description .school-custom-container .wrapper .body {
    width: 968px;
  }
  section#school__photos .school-custom-container #primary-slider .splide__slide {
    width: auto;
    height: 355px !important;
  }
  section#school__photos .school-custom-container #secondary-slider #secondary-slider-track #secondary-slider-list div.splide__slide {
    width: 250px !important;
    height: 160px !important;
  }
  section#about section#school__program .school-custom-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  section#about section#school__program .school-custom-container .contentWrapper .program-content .program {
    margin-top: 30px;
  }
  section#about section#school__program .school-custom-container .contentWrapper .program-content .program.first {
    margin-top: 21px;
  }
  section#about section#school__program .school-custom-container .contentWrapper .program-content .program .row .title {
    margin: 0;
  }
  section#about section#school__program .school-custom-container .contentWrapper .program-content .program .row .deadline {
    margin: 5px 0 15px;
    font-size: 18px;
    letter-spacing: 0.18px;
  }
  section#about section#school__program .school-custom-container .contentWrapper .program-content .program .row .fee {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin: 0 8px 0px 0;
    color: var(--main-dark-color);
  }
  section#about section#school__program .school-custom-container .contentWrapper .program-content .program .row .more-btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  section#about section#school__program .school-custom-container .contentWrapper .program-content .program .row .more-btn button {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;
  }
  section#about section#school__program .school-custom-container .map {
    display: block;
    margin-top: 102px;
  }
  section#about section#school__program .school-custom-container .map iframe {
    width: 392px;
    height: 316px;
  }
  section#review .school-custom-container #review-primary-slider .splide__arrows {
    display: block;
  }
  section#review .school-custom-container #review-primary-slider .splide__track #review-primary-slider-list div.splide__slide {
    width: 778px !important;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info section#articles .school-custom-container .wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info section#articles .school-custom-container .wrapper .article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
  section#about .custom-container .wrapper .contentWrapper #school-info section#articles .school-custom-container .wrapper .article .article-img {
    width: 369px;
    height: 259px;
  }
  section#videos .school-custom-container .wrapper {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
  }
  section#videos .school-custom-container .wrapper .video {
    margin-bottom: 0;
  }
  section#videos .school-custom-container .wrapper .video:nth-child(1) {
    width: 824px;
    height: 510px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  section#videos .school-custom-container .wrapper .video:nth-child(2) {
    width: 332px;
    height: 250px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  section#videos .school-custom-container .wrapper .video:nth-child(3) {
    width: 332px;
    height: 250px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}
/*# sourceMappingURL=programDesc.css.map */