// ROBOT FONT FAMILY
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* GLOBAL STYLING*/
:root{
    --main-light-color: #1c85c8;
    --main-dark-color: #283c8c;
    --lighter-color: #f3f6ff;
    --black-color: #000000;
    --white-color: #ffffff;
}
*, *:after, *:before{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
	padding: 0;
}
ul{
	list-style: none;
	padding: 0;
    margin: 0;
}	
a{
	text-decoration: none;
	margin: 0 ;
    padding: 0 ;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
}
.show-menu{
    display: block !important;
    ul.navbar-nav{
        li.nav-item{
            margin: 11px 45px 0px 0px !important;
        }
    }
    form{
        margin: 11px 45px 0 0px !important;
        button{
            margin: 0 !important;
            margin-top: 11px !important;
        }
    }
}
.custom-container{
    margin: 0 20px;
    padding: 0;
}
.custom-btn{
    margin: 1px 1px 28px 45px;
    padding: 9px 41px;
    border-radius: 5px;
    box-shadow: 0 3px 15px 0 rgba(28, 133, 200, 0.11);
    background-color: var(--main-light-color);
    color: var(--white-color);
}
/* GLOBAL STYLING*/
nav{
    padding-bottom: 0;
    .container-fluid{
        .navbar-toggler{
            border: none;
            &:focus{
                outline: none;
            }
        }
        .navbar-collapse{
            ul.navbar-nav{
                justify-content: flex-end;
                width: 100%;
                li.nav-item.program{
                    margin: 11px 45px 39px 51px;
                }
                li.nav-item.school{
                    margin: 11px 0px 39px 0;
                    color: var(--main-light-color);
                    opacity: 1;
                    a{
                        color: var(--main-light-color);
                    }
                }
                li{
                    font-size: 16px;
                    color: var(--black-color);
                    letter-spacing: 0.16px;
                    opacity: 0.6;
                    line-height: 1.19;
                    .nav-link{
                        padding-left: 0;
                        padding-right: 0;
                        color: var(--black-color);
                    }
                }
            }
            form{
                .login{
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.22;
                    letter-spacing: 0.36px;
                }
            }
        }
    }
}
section#about{
    .custom-container{
        .head{
            margin: 40px 0px 48px 0;
            padding: 16px 16px 16px 16px;
            border-radius: 5px;
            background-color: var(--lighter-color);
            .layer{
                background-image: unset;
                .box{
                    .title{
                        margin: 0 0 12px 0;
                        font-size: 20px;
                        font-weight: 500;
                        letter-spacing: 0.2px;
                    }
                    .school{
                        margin: 12px 0 26px 0;
                        font-size: 18px;
                        letter-spacing: 0.2px;
                    }
                    .details{
                        display: flex;
                        flex-wrap: wrap;
                        div{
                            margin: 0 48px 17px 0px;
                            span{
                                opacity: 0.6;
                                font-size: 18px;
                                letter-spacing: 0.18px;
                            }
                            img{
                                width: 15px;
                                height: 24px;
                                object-fit: contain;
                            }
                            &.fee{
                                margin: 0 48px 26px 0px;
                            }
                        }
                        .apply-btn{
                            padding:0;
                            margin: 0;
                            button{
                                margin: 0;
                                border: none;
                                a{
                                    font-size: 18px;
                                    font-weight: 500;
                                    letter-spacing: 0.36px;
                                    color: var(--white-color)
                                }
                            }
                        }
                    }
                }
                .box:nth-child(2){
                    display: none;
                    .layer{
                        display: flex;
                        width: 100%;
                        height: 100%;
                        .school-img{
                            width: 90px;
                            margin: auto;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
                .img-bg{
                    display: none;
                }
            }
        }
        .wrapper {
            .buttonWrapper{
                display: none;
            }
            .contentWrapper{
                #school-info{
                    .title{
                        margin: 48px 0px 24px 0;
                        font-size: 24px;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.24px;
                    }
                    .desc{
                        width: auto;
                        height: auto;
                        margin: 0;
                        p{
                            font-size: 18px;
                            line-height: 1.56;
                            letter-spacing: 0.16px;
                            text-align: justify;
                        }
                    }
                    .ranking{
                        .title{
                            margin: 50px 40px 0 1px;
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 1.21;
                            letter-spacing: 0.24px;
                            color: var(--main-dark-color);
                        }
                        .wrapper{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            .organization{
                                display: flex;
                                margin-top: 25px;
                                .img-organization{
                                    width: 100px;
                                    height: 40px;
                                    margin: 0 15.2px 0 0;
                                    object-fit: contain;
                                    margin: 0;
                                    img{
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                                .rank-num{
                                    margin: 6px auto 5px 15.2px;
                                    opacity: 0.4;
                                    font-size: 24px;
                                    font-weight: 500;
                                    line-height: 1.21;
                                    letter-spacing: 0.24px;
                                }
                            }
                        }
                    }
                    .media{
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: 62px;
                        .accreditation, .social-media{
                            margin-top: 48px;
                            margin-right: 214px;
                            .title{
                                margin-top: 0;
                            }
                            .imgs{
                                display: flex;
                                .img-holder{
                                    margin-right: 48px;
                                }
                            }
                        }
                    }
                    .alumni{
                        margin-top: 50px;
                        .title{
                            display: flex;
                            margin: 0 16px 0 0;
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 1.21;
                            letter-spacing: 0.24px;
                            color: var(--main-dark-color);
                            p{
                                margin: 6px 4px 1px 16px;
                                opacity: 0.4;
                                font-size: 18px;
                                line-height: 1.22;
                                letter-spacing: 0.18px;
                                color: var(--black-color);
                                img{
                                    width: 25px;
                                    height: 17px;
                                }
                            }
                        }
                        .wrapper{
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            .live, .work{
                                .title{
                                    margin: 30px 0 20px;
                                    opacity: 0.6;
                                    font-size: 18px;
                                    font-weight: 500;
                                    line-height: 1.22;
                                    letter-spacing: 0.18px;
                                    color: var(--black-color)
                                }
                                .custom-progress{
                                    display: flex;
                                    flex-wrap: wrap;
                                    .box{
                                        flex: 0 0 50%;
                                        .percent{
                                            position: relative;
                                            width: fit-content;
                                            margin: auto;
                                            svg{
                                                position: relative;
                                                width: 100px;
                                                height: 100px;
                                                z-index: 1000;
                                                circle{
                                                    width: 100%;
                                                    height: 100%;
                                                    fill: none;
                                                    stroke: var(--lighter-color);
                                                    stroke-width: 10;
                                                    stroke-linecap: round;
                                                }
                                                circle:nth-child(2){
                                                    stroke-dasharray: 440;
                                                    stroke-dashoffset: 440;
                                                    stroke: var(--main-dark-color);
                                                }
                                            }
                                            .number{
                                                position: absolute;
                                                top: 0;
                                                width: 100%;
                                                right: 0%;
                                                text-align: center;
                                                bottom: 0%;
                                                left: 0%;
                                                height: 100%;
                                                display: flex;
                                                justify-content: center;
                                                h2{
                                                    opacity: 0.7;
                                                    font-size: 16px;
                                                    line-height: 1.19;
                                                    letter-spacing: 0.16px;
                                                    align-self: center;
                                                }
                                            }
                                        }
                                        .city{
                                            margin: 8px 0;
                                            opacity: 0.7;
                                            font-size: 16px;
                                            line-height: 1.19;
                                            letter-spacing: 0.16px;
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                            .doing, .studies{
                                .title{
                                    margin: 40px 17px 20px 1px;
                                    opacity: 0.6;
                                    font-size: 18px;
                                    font-weight: 500;
                                    line-height: 1.22;
                                    letter-spacing: 0.18px;
                                    color: var(--black-color);
                                }
                                .custom-progress{
                                    .box{
                                        .title{
                                            margin: 20px 0 10px 1px;
                                            font-size: 16px;
                                            line-height: 1.19;
                                            font-weight: normal;
                                            font-stretch: normal;
                                            font-style: normal;
                                            line-height: normal;
                                            letter-spacing: 0.16px;
                                            text-align: left;
                                            color: var(--black-color);
                                            opacity: .8;
                                        }
                                        .progress{
                                            background-color: var(--lighter-color);
                                            border-radius: 15px;
                                            width: 335px;
                                            height: 20px;
                                            .progress-bar{
                                                border-radius: 15px;
                                                background-color: var(--main-dark-color);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                #city-info{
                    .desc{
                        width:auto;
                        height: auto;
                        p{
                            text-align: justify
                        }
                    }
                }
            }
        }
    }
}

section#city__photos{
    .city-custom-container{
        display: flex;
        flex-wrap:wrap;
        .full-screen{
            flex: 0 0 100%;
            img{
                width: 100%;
                height: auto;
            }
        }
        .imgs{
            flex: 0 0 100%;
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                li{
                    flex: 0 0 30%;
                    img{
                        cursor: pointer;
                        width: 100%;
                    }
                } 
            }
        }
        
    }
}


section#city__expense{
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        table{
            thead tr{
                border:none;
                th{
                    margin: 30px 110px 20px 1px;
                    opacity: 0.8;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.22;
                    letter-spacing: 0.18px;
                    border: none;
                }
            }
            tbody tr{
                th, td{
                    border: none;
                    margin: 20px 249px 15px 1px;
                    opacity: 0.6;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 1.19;
                    letter-spacing: 0.16px;
                }
                td{
                    margin: 20px 0 15px;
                }
            }
        }
        .city-img{
            display: flex;
            justify-content: flex-end;
            img{
                margin: auto;
                width: 276px;
            }
        }
        table, .city-img{
            flex: 0 0 100%
        }
    }
}

section#program__description{
    .school-custom-container{
        .wrapper{
            .title{
                margin: 50px 50px 20px 0;
                font-size: 24px;
                font-weight: 500;
                letter-spacing: 0.24px;
                color: var(--main-dark-color)
            }
            .body{
                margin: 20px 27px 20px 0;
                width: auto;
                opacity: 0.6;
                font-size: 18px;
                line-height: 1.39;
                letter-spacing: 0.18px;
            }
            
            ul.list{
                li{
                    font-size: 16px;
                    letter-spacing: 0.16px;
                    margin: 0 8px 15px 0;
                    color: rgba(0 , 0 , 0 , .6)
                }
                li::before{
                    content: '';
                    width:15px;
                    height:15px;
                    display: inline-block;
                    background-color: var(--main-light-color);
                    opacity: 1;
                    border-radius: 50%;
                    margin: 0 10px 0px 0;
                }
            }
        }
    }
}

section#school__photos{
    .school-custom-container{
        .title{
            margin: 50px 31px 20px 0;
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 0.24px;
            color:var(--main-dark-color);
        }
        #primary-slider{
            .splide__arrows{
                display: none ;
            }
            .splide__slide{
                width: 335px;
                height: 251px;
            }
        }
        #secondary-slider{
            #secondary-slider-track{
                margin-top: 10px;
                #secondary-slider-list{
                    div.splide__slide{
                        width: 159px !important;
                        height: 117px !important;
                        border-radius: 5px;
                        &.is-active{
                            border: none;
                        }
                    }
                }
            }
            .splide__arrows{
                button{
                    height: 100%;
                    border-radius: 5px;
                    backdrop-filter: blur(30px);
                    background-color: var(--white-color);
                    width: 37px;
                    height: 100%;
                    &.splide__arrow--prev{
                        left: 0%;
                    }
                    &.splide__arrow--next{
                        right: 0%;
                    }
                }
            }
        }
    }
}
section#city__photos{
    #city-secondary-slider-list{
        margin: auto !important;
    }
}
section#about section#school__program{
    .school-custom-container{
        display: flex;
        flex-wrap: wrap;
        .contentWrapper{
            .program-content{
                .program{
                    margin-top: 21px;
                    .row{
                        .title{
                            margin: 0 44px 10px 0;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.18px;
                            text-align: left;
                            color: var(--black-color);
                        }
                        .deadline{
                            margin: 0px 22px 20px 0;
                            opacity: 0.6;
                            font-size: 16px;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: 0.16px;
                        }
                        .fee{
                            margin: 0 0px 0.5px 0;
                            font-size: 16px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: 0.16px;
                            flex: 0 0 67%;
                            color: var(--main-dark-color);
                            span{
                                opacity: .4;
                                text-transform: capitalize;
                                margin-right: 8px;
                                color: var(--black-color);
                            }
                        }
                        .more-btn{
                            font-size: 16px;
                            font-weight: 500;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: 0.32px;
                            text-align: left;
                            flex: 0 0 33%;
                            button{
                                line-height: normal;
                                padding: 0;
                                a{
                                    color:var(--main-light-color)
                                }
                            }
                        }
                    }
                }
            }
        }
        .map{
            margin-top: 49px;
            iframe{
                width: 335px;
                height: 331px;
            }
        }
    }
}

section#review{
    margin-top: 50px;
    .school-custom-container{
        .title{
            margin: 0 513px 20px;
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 0.24px;
            text-align: center;
            color: var(--main-dark-color);
        }
        // secondry
        #review-secondary-slider{
            .splide__track{
                #review-secondary-slider-list{
                    width: 100%;
                    justify-content: center;
                    div.splide__slide{
                        width: 64px !important;
                        height: 64px !important;
                        border: none;
                        border-radius: 50%;
                        opacity: .5;
                        position: relative;
                        z-index: -1;
                        &:nth-child(1){
                            left: 10%;
                        }
                        &:nth-child(3){
                            right: 10%;
                        }
                        &.is-active{
                            width: 73px !important;
                            height: 73px !important;
                            opacity: 1;
                            z-index: 12;
                        }
                    }
                    
                }
            }
        }
        // primary
        #review-primary-slider{
            .splide__arrows{
                display: none;
                button{
                    background-color: unset;
                }
            }
            .splide__track{
                #review-primary-slider-list{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    div.splide__slide{
                        // width: 778px !important;
                        height: fit-content !important;
                        top: 0%;
                        left: 0%;
                        right: 0%;
                        bottom: 0%;
                        margin: 30px 0 20px;
                        font-size: 18px;
                        line-height: 1.39;
                        letter-spacing: 0.18px;
                        &.is-active{
                            opacity: .6;
                        }
                        p{
                            text-align: center;
                        }
                        h5.name{
                            text-align: center;
                            margin-top: 20px;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 1.39;
                            letter-spacing: 0.18px;
                            color: var(--black-color);
                        }
                        p.position{
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

}

section#videos{
    margin-top: 50px;
    .school-custom-container{
        .wrapper{
            display: flex;
            flex-wrap: wrap;
            .video{
                width: 335px;
                height: 211px;
                margin-bottom:16px;
                video{
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                }
            }
            
        }
    }
}

section#about .custom-container .wrapper .contentWrapper #school-info section#articles{
    .school-custom-container{
        .title{
            margin: 50px 70px 20px 0px;
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 0.24px;
            color: var(--main-dark-color)
        }
        .wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .article{
                margin-right: 30px;
                flex: 0 0 100%;
                .article-img{
                    width: 369px;
                    height: 259px;
                    width: 335px;
                    height: 259px;
                    margin: 0 0 15px 0px;
                    border-radius: 5px;
                    img{
                        width:100%;
                        height:100%;
                    }
                }
                .details{
                    .date{
                        margin: 15px 89px 10px 0px;
                        opacity: 0.4;
                        font-size: 16px;
                        font-weight: 500;
                        letter-spacing: 0.16px;
                    }
                    .article-desc{
                        opacity: 0.8;
                        font-size: 18px;
                        font-weight: 500;
                        letter-spacing: 0.18px;
                    }
                    .read-more{
                        margin: 15px 0px 24px 0px;
                        letter-spacing: 0.32px;
                        button{
                            font-size: 16px;
                            color: #1c85c8;
                            border: none;
                            background-color: unset;
                            font-weight: 500;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 692px) {
    .custom-container{
        margin: 0 50px;
    }

    section#about .custom-container{
        .head{
            .layer{
                display: flex;
                background-image: unset;
                .box {
                    flex: 0 0 70%;
                    .details .apply-btn{
                        flex: 0 0 100%;
                    }
                }
                .box:nth-child(2){
                    display: block;
                    background-color: unset;
                    width: 30%;
                    flex: 0 0 7%;
                    margin: 0;
                    align-self: flex-start;
                    .layer{
                        background-image: unset;
                        img{
                            margin: 0 ;
                        }
                    }
                }
            } 
        } 
        .wrapper{
            .buttonWrapper{
                display: none;
            }
            .contentWrapper{
                #school-info .alumni .wrapper{
                    .live, .doing, .studies, .work{
                        flex: 0 0 100%;
                        .custom-progress .box{
                            flex: 0 0 25%;
                        }
                    }
                    .doing, .studies {
                        .custom-progress .box .progress{
                            width: 658px;
                        }
                    }
                }
            }
        }
    }
    
    section#school__photos {
        .school-custom-container{
            #primary-slider .splide__slide{
                height: 251px !important;
            }
            #secondary-slider{
                #secondary-slider-track{
                    #secondary-slider-list div.splide__slide{
                        width: 212px !important;
                        height: 154px !important;
                    }
                }
            } 
    
        } 
    }
    section#about section#school__program{
        .school-custom-container{
            
            .map iframe{
                width: 668px;
                height: 331px;
            }
        }
    } 
    section#review .school-custom-container{
        #review-secondary-slider{
            .splide__track{
                #review-secondary-slider-list{
                    div.splide__slide:nth-child(1){
                        left: 4%;
                    }
                    div.splide__slide:nth-child(3){
                        right: 4%;
                    }
                } 
            } 
        }
    }
    section#videos{
        .school-custom-container .wrapper{
            display: grid;
            grid-gap: 16px;
            .video{
                width: 325px;
                height: 242px;
                margin-bottom: 0;
            }
            .video:nth-child(1){
                grid-column: 1/3;
                grid-row: 1/2;
                width: 668px;
                height: 415px;
            }
        }
    }

    section#about .custom-container .wrapper .contentWrapper #school-info section#articles .school-custom-container{
        .wrapper{
            .article{
                flex: 0 0 47%;
                margin-right: 0;
                .article-img{
                    width: 318px;
                    height: 259px;
                }
            }
        }

    }
}
@media only screen and (min-width: 992px) {
    .custom-container{
        margin: 0 100px;
    }
    section#about .custom-container{
        .head {
            margin: 27px 2px 0 1px;
            padding: 40px 0 0 50px;
            overflow: hidden;
            .layer{
                display: flex;
                .box{
                    .title{
                        margin: 0 52px 12px 0;
                        font-size: 24px;
                        letter-spacing: 0.24px;
                    }
                    .school{
                        margin: 12px 83px 26px 0;
                        font-size: 20px;
                    }
                    .details .apply-btn{
                        flex: 0 0 auto;
                    }
                }
                
                .box:nth-child(2){
                    display: block;
                    background-color: var(--white-color);
                    position: relative;
                    z-index: 1;
                    .layer{
                        width: 123px;
                        height: 123px;
                        background: url(../../images/franceflag.png);
                        background-repeat: no-repeat;
                    }
                }
                img.img-bg{
                    position: relative;
                    right: 45px;
                    z-index: 0;
                    top: 50px;
                    opacity: .5;
                    display: block;
                }
            }
        }
        .wrapper {
            .buttonWrapper{
                display: block;
            }
            .contentWrapper{
                #school-info{
                    .title{
                        margin: 30px 98px 20px 1px;
                        font-size: 24px;
                        line-height: 1.21;
                        letter-spacing: 0.24px;
                    }
                    .desc{
                        width: 968px;
                        height: 97px;
                        margin: 20px 26px 30px 1px;
                        line-height: 1.39;
                        letter-spacing: 0.18px;
                    }
                    .ranking{
                        .title{
                            margin-bottom: 25px;
                        }
                        .wrapper{
                            .organization{
                                margin-top: 0;
                                .img-organization{
                                    width: 123px;
                                }
                            }
                        }
                    }
                    .media{
                        margin-top: 50px;
                        .accreditation{
                            margin-right: 0 !important;
                            flex: 2 0 auto;
                            margin-top: 0;
                        }
                        .social-media{
                            flex: 0 0 auto;
                            margin-top: 0 ;
                        }
                    }
                    .alumni{
                        .wrapper{
                            .live, .work, .doing, .studies{
                                flex: 0 0 41.6666666667%;
                            }
                            .live, .work{
                                .custom-progress{
                                    flex-wrap: wrap;
                                    .box{
                                        flex: 0 0 25%;
                                    }
                                }
                            }
                            .doing, .studies{
                                .custom-progress{
                                    .box{
                                        .progress{
                                            width: 423px;
                                            height: 20px;
                                        }
                                    }
                                }
                            }
                            .live{
                                order: 1;
                            }
                            .doing{
                                order: 3;
                            }
                            .studies{
                                order: 4;
                            }
                        }
                    }
                }
            }
        }
    }

    section#program__description{
        .school-custom-container{
            .wrapper{
                .body{
                    width: 968px;
                }
            }
        }
    }
        
    section#school__photos{
        .school-custom-container{
            
            #primary-slider{
                .splide__slide{
                    width: auto;
                    height: 355px !important;
                }
            }
            #secondary-slider{
                #secondary-slider-track{
                    #secondary-slider-list{
                        div.splide__slide{
                            width: 250px !important;
                            height: 160px !important;
                        }
                    }
                }
            }
        }
    }

    section#about section#school__program{
        .school-custom-container{
            display: flex;
            flex-wrap: nowrap;
            .contentWrapper{
                .program-content{
                    .program{
                        margin-top: 30px;
                        &.first{
                            margin-top: 21px;
                        }
                        .row{
                            .title{
                                margin: 0;
                            }
                            .deadline{
                                margin: 5px 0 15px;
                                font-size: 18px;
                                letter-spacing: 0.18px;
                            }
                            .fee{
                                flex: 0 0 50%;
                                margin: 0 8px 0px 0;
                                color: var(--main-dark-color);
                                
                            }
                            .more-btn{
                                flex: 0 0 33%;
                                padding: 0;
                                display: flex;
                                align-self: end;
                                justify-content: flex-end;
                                button{
                                    font-size: 16px;
                                    font-weight: 500;
                                    letter-spacing: 0.32px;
                                }
                            }
                        }
                    }
                }
            }
            .map{
                display: block;
                margin-top: 102px;
                iframe{
                    width: 392px;
                    height: 316px;
                }
            }
        }
    }
    
    section#review{
        .school-custom-container{
            // primary
            #review-primary-slider{
                .splide__arrows{
                    display: block;
                }
                .splide__track{
                    #review-primary-slider-list{
                        div.splide__slide{
                            width: 778px !important;
                        }
                    }
                }
            }
        }
    }
    
    section#about .custom-container .wrapper .contentWrapper #school-info  section#articles{
        .school-custom-container{
            .wrapper{
                flex-wrap: nowrap;
                .article{
                    flex: 0 0 30%;
                    .article-img{
                        width: 369px;
                        height: 259px;
                    }
                }
            }
        }

    }

    section#videos{
        .school-custom-container{
            .wrapper{
                display: grid;
                column-gap: 10px;
                row-gap:10px;
                .video{
                    margin-bottom:0;
                }
                .video:nth-child(1){
                    width: 824px;
                    height: 510px;
                    grid-column: 1/2;
                    grid-row: 1/3;
                }
                .video:nth-child(2){
                    width:332px;
                    height:250px;
                    grid-column: 2/3;
                    grid-row: 1/2;
                }
                .video:nth-child(3){
                    width:332px;
                    height:250px;
                    grid-column: 2/3;
                    grid-row: 2/3;
                }
            }
        }
    }

    section#city__expense{
        .wrapper{
            table, .city-img{
                width: 50%;
                flex: 0 0 50%;
            }
        }
    }
    
    section#city__photos{
        .city-custom-container{
            display: flex;
            .full-screen{
                flex: 0 0 80%;
                img{
                    width: 100%;
                    height: 451px;
                }
            }
            .imgs{
                flex: 0 0 20%;
                ul{
                    height: 100%;
                    flex-direction: column;
                }
            }
        }
    }
}