// ROBOT FONT FAMILY
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* GLOBAL STYLING*/
:root{
    --main-light-color: #1c85c8;
    --main-dark-color: #283c8c;
    --lighter-color: #f3f6ff;
    --black-color: #000000;
    --white-color: #ffffff;
    --red-color: #bd172e;
    --box-shadow-color: rgba(0, 0, 0, 0.16);
}
*, *:after, *:before{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
	padding: 0;
}
ul{
	list-style: none;
	padding: 0;
    margin: 0;
}	
a{
	text-decoration: none;
	margin: 0 ;
    padding: 0 ;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
}
*:focus{
    outline: none;
}
.custom-container{
    margin: 0 20px;
    padding: 0;
}
.custom-btn{
    margin: 1px 1px 28px 45px;
    padding: 9px 41px;
    border-radius: 5px;
    box-shadow: 0 3px 15px 0 rgba(28, 133, 200, 0.11);
    background-color: var(--main-light-color);
    color: var(--white-color);
    border: none;
}
.search-form{
    form{
        width: fit-content;
        border-radius: 4px;
        box-shadow: 0 2px 12px 0 rgba(28, 133, 200,  .12);
        border: solid 1px #d1d5e1;
        background-color: var(--white-color);
        padding: 3px 6px;
        img{
            width: 15px;
            height: 15px;
            margin: auto;
            margin-right: 10.6px;
        }
        input{
            width: 126px;
            border: none;
            padding: 0;
        }
        input::placeholder{
            margin: 0 0 0 8px;
            // opacity: 0.6;
            font-size: 14px;
            line-height: 1.43;
            letter-spacing: normal;
        }
    }
}
/* GLOBAL STYLING*/

section#agent-statistics{
    margin-top: 64px;
    .custom-container{
        display: flex;
        justify-content: space-between;
        .side-menu{
            display: none;
        }
        .data-container{
            margin-top: 56px;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            &>div{
                flex: 0 0 100%;
            }
            .title{
                font-size: 24px;
                font-weight: 500;
                color: var(--main-dark-color);
                line-height: normal;
            }
            .agents-distribution{
                padding: 20px;
                border-radius: 15px;
                box-shadow: 0 2px 30px 0 rgba(28, 133, 200, .12);
                background-color: var(--white-color);
                .title{
                    margin: 1px 0 86px 0;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 0.72;
                    color: var(--main-dark-color);
                    display: inline;
                    line-height: 2;
                }
                form{
                    
                    position: relative;
                    float: right;
                    select{
                        padding: 8px 8px 7px 8px;
                        border-radius: 4px;
                        box-shadow: 0 2px 12px 0 rgba(28, 133, 200, .12);
                        border: solid 1px #d1d5e1;
                        background-color:var(--white-color);
                        opacity: 0.6;
                        font-size: 14px;
                        line-height: 1.43;
                        width: 110px;
                    }
                    select:focus{
                        outline: none;
                    }
                    .country-select{
                        position: absolute;
                        width: 100%;
                        z-index: 2;
                        margin: 1px 0 0;
                        padding: 16px 63px 16px 9px;
                        border-radius: 5px;
                        box-shadow: 0 2px 12px 0 rgba(28, 133, 200, .12);
                        background-color: var(--white-color);
                        right: 0%;
                        li{
                            margin: 0 0 16px;
                            font-size: 14px;
                            line-height: normal;
                            letter-spacing: 0.14px;
                            color: #959595;
                        }
                    }
                }
                &>div{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    margin-top: 20px;
                    div.percent{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        position: relative;
                        flex: 0 0 100%;
                        svg{
                            width: 230px;
                            height: 230px;
                            circle{
                                stroke-width: 50px;
                                fill: transparent;
                                // stroke-linecap: round;
                                stroke-dasharray: 565;
                            }
                            circle:nth-child(1){
                                stroke: #64c672;
                                stroke-dashoffset: calc( 565 - (565*100) /100); /*12*/
                            }
                            circle:nth-child(2){
                                stroke: #f8df00;    
                                stroke-dashoffset: calc( 565 - (565*88) /100); /*18*/
                            }
                            circle:nth-child(3){
                                stroke: #70c4c4;
                                stroke-dashoffset: calc( 565 - (565*70) /100); /*30*/
                            }
                            circle:nth-child(4){
                                stroke: #d5495c;
                                stroke-dashoffset: calc( 565 - (565*40) /100); /*40*/
                            }
                        }
                        .number{
                            display: flex;
                            justify-content: center;
                            position: absolute;
                            top: 40%;
                            p{
                                align-self: center;
                                font-size: 18px;
                                line-height: 1.56;
                                letter-spacing: normal;
                                text-align: center;
                                color: #4d4f5c;          
                                span{
                                    display: block;
                                }
                            }
                        }
                    }
                    div.result-nums{
                        flex: 0 0 100%;
                        ul{
                            .agent-item{
                                display: flex;
                                margin: 24px 0;
                                ul{
                                    display: flex;
                                    justify-content: space-between;
                                    flex: 0 0 90%;
                                    .agent-name{
                                        font-size: 15px;
                                        line-height: 1.67;
                                        color: var(--main-dark-color);
                                    }
                                    .application-nums{
                                        opacity: 0.4;
                                        font-size: 14px;
                                        line-height: 1.67;
                                        text-align: right;
                                    }
                                }
                            }
                            .agent-item::before{
                                content: '';
                                width: 16px;
                                height: 16px;
                                border-radius: 50%;
                                display: inline-block;
                                margin: auto;
                            }
                            .agent-item:nth-child(1)::before{
                                background-color: #d5495c;
                                border: solid 3.5px #fcdee2;
                            }
                            .agent-item:nth-child(2)::before{
                                background-color: #70c4c4;
                                border: solid 3.5px #e0f8f8;
                            }
                            .agent-item:nth-child(3)::before{
                                background-color: #f8df00;
                                border: solid 3.5px #fbf7c9;
                            }
                            .agent-item:nth-child(4)::before{
                                background-color: #64c672;
                                border: solid 3.5px #cdf9d3;
                            }
                        } 
                    }
                }
            }
            .quick-access{
                margin: 24px 0;
                padding: 48px 16px;
                border-radius: 15px;
                box-shadow: 0 2px 20px 0 rgba(28, 133, 200, .12);
                background-color: #ffffff;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .title{
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 0.56;
                    text-align: center;
                    color: var(--main-dark-color);
                    margin: 0 0 8px 0;
                }
                .desc{
                    margin: 8px 0 0;
                    opacity: 0.6;
                    line-height: 1.44;
                    text-align: center;
                }
                .touch{
                    margin: 32px 0 0 0;
                    a.email, a.notify{
                        border-radius: 5px;
                        box-shadow: 0 1px 10px 0 rgba(28, 133, 200, 0.12);
                        display: flex;
                        .img-holder{
                            margin: 0 16px 0 0;
                            border-radius: 5px;
                            width: 42px;
                            height: 42px;
                            display: flex;
                            justify-content: center;
                            img{
                                width: 25px;
                                display: block;
                                align-self: center;
                            }
                        }
                        .text{
                            font-size: 16px;
                            letter-spacing: 0.32px;
                            text-align: left;
                            line-height: 42px;
                        }
                    }
                    a.notify{
                        margin-top: 16px;
                        background-color: #cdf9d3;
                        .img-holder{
                            background-color: #64c672;
                        }
                        .text{
                            color: #437d4b;
                        }
                    }
                    a.email{
                        background-color: #dee6ff;
                        .img-holder{
                            background-color: var(--main-light-color);
                        }
                        .text{
                            color: var(--main-light-color);
                        }
                    }
                }
            }
            .agents{
                border-radius: 15px;
                box-shadow: 0 2px 30px 0 rgba(28, 133, 200, .12);
                background-color: #ffffff;
                padding: 10px 0;
                .body{
                    .title{
                        display: flex;
                        justify-content: space-between;
                        padding: 0 16px 8px 12px;
                        font-weight: 500;
                        line-height: 2;
                        font-size: 16px;
                        color: var(--main-dark-color);
                        border-bottom: 1px solid var(--main-dark-color);
                        div:nth-child(2){
                            display: none;
                        }
                        .search-form form{
                            float: right;
                            display: flex;
                        }
                    }
                    .wrapper{
                        .agent{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            padding: 8px 16px 8px 12px;
                            border-bottom: 1px solid rgba(40, 60, 140, .3);
                            .agent__name{
                                flex: 0 0 90%;
                                order: 1;
                                opacity: 0.5;
                                font-size: 14px;
                                margin: 10px 0 8px 0;
                            } 
                            .agent__email{
                                flex: 0 0 100%;
                                order: 3;
                                margin: 8px 0 16px 0;
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 1;
                                color: var(--main-light-color);
                            }
                            .manage{
                                order: 3;
                                button{
                                    margin: 0;
                                    padding:0 ;
                                    a{
                                        padding: 7px 33px;
                                        display: block;
                                        color: var(--white-color);
                                        font-weight: 500;
                                        letter-spacing: 0.32px;
                                    }
                                }
                            }
                            .actions{
                                border-right: 5px dotted #aaa;
                                height: 21px;
                                order: 2;
                                flex: 0 0 10%;
                                margin: 0;
                                position: relative;
                                align-self: center;
                                cursor: pointer;
                                &>div{
                                    display: none;
                                    position: absolute;
                                    top: 84%;
                                    width: 157px;
                                    right: 0;
                                    padding: 16px 0 16px 16px;
                                    border-radius: 5px;
                                    box-shadow: 0 2px 12px 0 rgba(26, 36, 78, .12);
                                    background-color: #ffffff;
                                    .send-notification, .block{
                                        line-height: normal;
                                        letter-spacing: 0.16px;
                                    }
                                    .send-notification{
                                        color: var(--main-dark-color);
                                        margin: 0 0 16px 0;
                                    }
                                    .block{
                                        margin: 16px 0 0 0;
                                        color: var(--red-color);
                                    }
                                }
                                &>div.appear{
                                    display: block;
                                }
                            }
                        }
                        .agent:last-child{
                            border:none
                        }
                    }
                }

            }
        }
        
    }
}


// BLOCK AGENT WARNER
#block-warning, #notification-modal,
#block-done, #notification-done{
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); 
    display: none;
    .custom-container{
        padding: 30px 30px;
        border-radius: 15px;
        background-color: #fff;
        text-align: center;
        width: fit-content;
        top: 25%;
        position: relative;
        margin:auto;
        .title-warning{
            font-size: 20px;
            font-weight: 500;
            line-height: 1;
            color: var(--red-color);
            margin: 20px 0;
        }
        .desc-warning{
            margin: 16px 0 20px;
            opacity: 0.7;
            font-size: 16px;
            line-height: 1.5;
        }
        .btns-holder{
            button.keep , button.send, button.back{
                padding: 11.5px 25.7px 11.5px 25.3px;
                border-radius: 5px;
                box-shadow: 0 1px 10px 0 rgba(66, 193, 175, 0.2);
                background-color: var(--main-light-color);
                border: none;
                font-weight: 500;
                letter-spacing: 0.32px;
                color: var(--white-color);
                margin: 0 48px 0 44px;
            }
            button.block{
                border: none;
                background-color: transparent;
                font-weight: 500;
                letter-spacing: 0.32px;
                text-align: left;
                color: var(--red-color);
                margin: 11px 48px 11px 44px;
                padding: 0;
            }
        }
    }
    &.appear{
        display: block;
    }
}

// NOTIFICATION MODAL 
#notification-modal, #notification-done{
    .custom-container{
        .title-warning{
            color: var(--main-dark-color);
            font-size: 20px;
            font-weight: 500;
        }
        textarea.desc-warning{
            width: fit-content;
            height: 132px;
            margin: 0 0 16px;
            padding: 13px 46px 6px 16px;
            border-radius: 10px;
            border: solid 1px #a4a4a4;
        }
        textarea:focus{
            outline: none;
        }
        .btns-holder button.back{
            padding: 11.5px 49.7px 11.5px 50.3px;
        }
    }
}

@media only screen and (min-width: 692px) {
    .custom-container{
        margin: 0 50px;
    }
    section#agent-statistics{
        .custom-container{
            .data-container{
                &>div{
                    flex: 0 0 100%
                }
                .agents-distribution > div {
                    div.percent{
                        flex: 0 0 50%;
                        margin-bottom: 0;
                        justify-content: flex-start;
                        .number{
                            width: 230px;
                            height: 230px;
                            top: 0;
                            left: 0;
                            bottom: 0;
                        }
                    }
                    div.result-nums{
                        flex: 0 0 50%;
                        align-self: center;
                    }
                }
                .agents .body{
                    .title{
                        div{
                            flex: 0 0 25%;
                        }
                        div:nth-child(1){
                            flex: 0 0 50%
                        }
                        div:nth-child(2){
                            display: block;
                        }
                    }
                    .wrapper .agent{
                        .agent__name, .agent__email{
                            margin: 10px 0 20px 0;
                        }
                        .agent__name{
                            order: 1;
                            flex: 0 0 48%;
                        }
                        .agent__email{
                            order: 2;
                            line-height: 1.5;
                            flex: 0 0 25%;
                        }
                        .manage{
                            order: 4;
                        }
                        .actions{
                            flex: 0 0 25%;
                            order: 3;
                        }
                    }
                } 
            }
        }
    }
    
    #block-warning, #notification-modal,
    #block-done, #notification-done{
        .custom-container{
            width: 580px;   
            textarea.desc-warning{
                width: 484px;
            } 
        }   
    }
}   

@media only screen and (min-width: 992px) {
    .custom-container{
        margin: 0 100px;
    }
    section#agent-statistics{
        margin-top: 0;
        .custom-container{
            .side-menu{
                margin-top: -101px;
                padding-top: 0;    
                position: fixed;
                width: 19.7%;
                z-index: 10;
                display: block;
                margin-left: -100px;
                background-image: linear-gradient(197deg, 
                                  var(--main-light-color) 5%, 
                                  var(--main-dark-color));
                height: 768px;
                padding:0 0 0 30px;
                .logo-holder{
                    margin-top: 45px;
                }
                ul{
                    margin-top: 118px;
                    li{
                        margin: 16px 0 15px 0;
                        font-size: 18px;
                        font-weight: 500;
                        color: var(--white-color);
                        span{
                            width: 59px;
                            height: 15px;
                            margin: 0 14px;
                            font-size: 14px;
                            font-weight: normal;
                            letter-spacing: 0.14px;
                            color: var(--white-color);
                            background-color: var(--main-dark-color);
                            border-radius: 3px;
                            display: inline-block;
                            text-align: center;
                            line-height: .9;
                        }
                        a{
                            color: var(--white-color);
                            display: inline-block;
                            width: 100%;
                        }
                    }
                    li.active{
                        background-color: #3aa7ec;
                        margin-left: -30px;
                        position: relative;
                        padding: 9px 0 9px 30px;
                    }
                    li.active::before{
                        content: '';
                        width: 13px;
                        border-radius: 0 5px 0 0;
                        background-color: #283a82;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
            .data-container{
                margin-left: 19.7%;
                .agents-distribution{
                    flex: 0 0 62%;
                    margin: 24px 0;
                }
                .quick-access{
                    flex: 0 0 35%;
                }
                .agents{
                    flex: 0 0 100%;
                    .body{
                        .title{
                            div{
                                flex: 0 0 33% !important;
                            }
                        }
                        .wrapper{
                            .agent{
                                .agent__name, .agent__email{
                                    flex: 0 0 33%;
                                    margin: 0;
                                    line-height: 2.5;
                                }
                                .manage{
                                    flex: 0 0 30%;
                                    display: flex;
                                    justify-content: flex-end;
                                }
                                .actions{
                                    flex: 0 0 3%;
                                    margin: 0;
                                    order: 4;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
